body {
    background: linear-gradient(to right, rgb(100, 10, 100), rgb(120, 10, 0), rgb(120, 30, 0));
}

#main {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

#login-page {
    padding: 9px 30px;
    border: 1px solid rgb(120, 90, 120);
    border-radius: 9px;
    width: 24%;
    position: relative;
    z-index: 0;
    background: #eee;
    color: #606060;
    margin-left: auto;
    margin-right: auto;
}

.inp input {
    padding: 12px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 9px 0;
    background: rgb(240, 240, 220);
    border: 1px solid #eee;
    outline: none;
    border-radius: 9px;
    text-indent: 28px;
}

input:focus {
    background: lightyellow;
}

.sign-in {
    color: darkgreen;
    margin: 3px 0 39px 0;
    border: 1px solid #ccc;
    float: right;
    border-radius: 9px;
    padding: 9px 12px;
    box-shadow: 0 3px 11px 1px #ccc
}

.sign-up {
    color: green;
    ;
}

.sign-up span {
    border-bottom: 1px solid;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 9px;
    width: 45%;
}

#forget {
    font-size: 95%;
    text-align: center;
    margin: 3px 0;
    bottom: -60px;
    left: 0;
    right: 0;
    position: absolute;
}

#forget a {
    color: #eee;
}

#title {
    text-align: center;
    font-weight: 500;
    margin-top: 9px;
}

.log-icon {
    position: absolute;
    padding-top: 12px;
    margin: 0 6px;
}

@media screen and (max-width: 1024px) {
    #login-page {
        width: 50%;
    }
}

@media screen and (max-width: 720px) {
    #login-page {
        width: 54%;
    }
}